body{
    margin: 0px;
}
.first-container{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
    align-items: center;
    
}
.sub-container1{
    background-color: red;
    height: 50vh;
    width: 30vw;
}
.sub-container2{
    background-color: aqua;
    height: 50vh;
    width: 50vw;
}
.sub-container3{
    background-color: palevioletred;
    height: 50vh;
    width: 42vh;
}
.block{
    display: block;
}
.yellow{
    background-color: yellow;
      height: 50%;
      margin-top: -20px;
}
.green{
    background-color: green;
    height: 53%;
    margin-top: -20px;
}
.second-container{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100vw;
}
.second-sub1-container{
    /* background-color: rgb(13, 60, 61); */
    height: 50vh;
    width: 70%;
}
.second-sub2-container{
    background-color: blueviolet;
    height: 100%;
    width: 30%;
}
.upper{
    /* background-color: orange; */
    width: 100%;
    height: 50%;
    /* display: block; */
}
.lower{
    margin-top: -20px;
    width: 100%;
    height: 51%;
    background-color: rgb(240, 190, 116);
     /* display: block; */

}
.special{
    display: block;
    /* background-color: blue; */
  height: 100%;
    width: 100%;
}
.left{
    background-color: orange;
    height: 100%;
    width: 70%;
    float: left;
}
.right{
    background-color: rgb(25, 140, 211);
    height: 100%;
    width: 30%;
    float: right;
}
/* p {
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 50%;
} */
p{
    text-align: center;
    /* padding-top: 50%; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 10vh;
}