.mobile-container{
    height: 80vh;
    width: 30%;
    background-color: #151D3B;
    margin-top: 5%;
    margin-left: 36%;
    box-shadow: 3px 5px 5px 4px lightcoral;
    overflow: scroll;
    border-radius: 2%;
}

.text-start{
    text-align: start;
}
.white-text{
    color: white;
    font-family: serif;
}
.large-text{
    font-size: 120%;
    font-family: serif;
}
.medium-text{
    font-size: 90%;
    font-family: serif;
}
.small-text{
    font-size: 70%;
    font-family: serif;
}
.left-equal-padding{
    margin-left: 5%;
    

}
header > span {
line-height: 50px;
}
.float-right{
    float: right;
}
header > i{
    margin-top: 15px;
    margin-right: 30px;
    color: green;
}
nav{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    height: 14%;
    width: auto;
    
    /* background-color: red; */
    gap: 15px;
   
}
.round-img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.show{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    margin-bottom: 5%;
    
   
    margin-top: 3%;
    margin-right: 2%;
}
/* section > div {
    margin-top: 2%;
} */
/* section > div > img{
     vertical-align: middle; 
} */
.minus-padding{
   
    transform: translateY(-14px);
    
} 
/* section > div > span {
    transform: translateY(-100px); 
} */
.inline-block{
    display: inline-block;
    margin-top: 2%;
   
}
.inline-block > i{
    padding-top: 20px;
}
.block{
    display: block;
    margin-top: -10px;
    height: 200px;
    width: 100%;
    background-color: white;
    background-image: url("https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-142984111-1500x1000.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 15px;
}
.grey-text{
    color: lightgray;
}
.photo-post-container{
    
   height: 310px;
   cursor: pointer;
   
}
.serch-bar{
    margin: 5% 5% ;
    border: 1px solid red;
    background-color: white;
    border-radius: 30px;
}
.search-input{
    background-color: transparent;
    border-color: transparent;
    outline: transparent;
     padding: 5px; 
    width: 70%;
   transform: translateY(-10px);
   
}
.search-button{
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    width: 17%;
    border-left-color: red;
    margin-top: 5px;
}
.search-hint{
    margin: 5% 5% ;
    height: auto;
    background-color: white;
}
.small-round-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow:  2px 3px lightcoral;
    vertical-align: middle;
    margin: 4px 4px ;
}
.main-message-container{
    flex-direction: column;
    gap: 15px;

}
.individual-message-container{
    margin: 5% 5%;
    background-color: white;
    cursor: pointer;
    box-shadow:3px 3px lightcoral;
}
.individual-message-container > img{
    vertical-align: middle;
    margin: 3px 3px;
}
.profile-img{
    margin: 5% 15%;
    border-radius: 20px;
    background-image: url("https://newsresolution.com/wp-content/uploads/2021/01/katherine-Copy.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    height: 170px;
    z-index: 100;
}
.profile-details{
    transform: translateY(-38px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5%;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}
.profile-details > span {
    margin-top: 3px;
    margin-bottom: 2px;
    border-bottom: 1px solid lightcoral;
}
.profile-details > button{
    background-color: lightcoral;
    color: white;
    padding: 5px 20px;
    border-color: transparent;
    outline: transparent;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 2px  2px 2px red;
}
/* footer{
    
   
}
footer > span {
    margin-top: 5px;
    padding-right: 20%;
} */
.bottom{
    position:fixed;
    bottom: 10%;
    left: 36%;
    right: 34%;
   
    background-color: #313552;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 101;

    
}
.bottom > span {
    cursor: pointer;
}
.hide{
    display: none;
}
.bottom >span:hover{
    color: grey;
}
.deafult{
    color: red;
}




