body{
    margin: 0px;
     background-color: #151D3B; 
 
}
.trending-gif{
     /* height: 80vh; */
    width: 90%;
    
    display: flex;
   margin: 0% 5%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    
    transform: translateY(-50px);
   
    
}
#search{
    width: 90%;
    display: flex;
    margin: 0% 5%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    transform: translateY(-50px);
    
}
.hide{
    display: none;
}
.cutom-search-bar{
    border: 1px solid lightcoral;
     margin-left: 35%;
    width: 385px;
    transform: translateY(-80px);
    color: white;
   
}
.cutom-search-bar > input{
    padding: 15px;
    width: 300px;
    outline: transparent;
    border-color: transparent;
    cursor: crosshair;
    
}
.cutom-search-bar > button{
    padding: 15px;
     margin-left: -10px; 
    border-color: transparent;
    background-color: transparent;
    /* border-left-color: lightcoral; */
    cursor: pointer;
}
h1{
    position: sticky;
    top: 3%;
    z-index: 100;
    text-align: center;
    /* color: lightcoral; */
    font-family: cursive;
    font-size: 80px;
     transform: translateY(-50px); 
     color: transparent; 
     -webkit-text-stroke: 1px white;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqGyHKiOzlKnsEsaj9xgUDs-Uyz0Osk01gYA&usqp=CAU");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: sagar 20s linear infinite;
}
@keyframes sagar {
    100%{background-position: 1000px 0;}
}