
.center{
     margin-left: 40%;
    margin-right: 40%; 
    background-position: center;
    margin-top: 10%;
    border: 1px solid whitesmoke;
    box-shadow: 0px 4px 8px 5px grey;
}

img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 60px;
    animation: sagar 5s linear 3s infinite alternate-reverse both ,
               JUMP 4s linear 4s infinite alternate-reverse both;
    /* animation-name: sagar;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
     animation-name: JUMP;
    animation-duration: 9s;
    animation-timing-function: ease-in;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;  */
}

/* x axis animation */

@keyframes sagar {          
    0%{
        transform: translateX(120px);

    }
    50%{
      
         transform: translateX(-140px); 
        /* left: -100%; */
        box-shadow: 3px 3px 2px lightcoral;
    }
    100%{
       
         transform: translateX(140px); 
        /* left: 100%; */
        box-shadow: 4px 4px 2px rgb(212, 19, 19);
    }
 
}

/* Y axis animation */

@keyframes JUMP {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(40px);
    }
    
}

/* bellow css for create running text */

h1{
 color: lightcoral;
 animation-name: text-run;
 animation-duration: 5s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 height: 100px;
}
@keyframes text-run {
    0%{
       transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
    
}

