body{
    margin: 0px;
}
.trigger > ul > li{
    display: inline-block;
    width: 200px;
    position: relative;
    /* z-index: 100; */
}
.first{
    display: inline-block;
    
}
.sub-menu{
    display: none;
   
}
.sub-menu > ul > li {
    border-bottom: 1px solid white;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(179, 109, 24);
   
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.sub-menu > ul {
    display: block;
    position: absolute;
   
}
  .try:hover > .sub-menu{
    display: initial;
}
.sub-menu2{
   display: none;
   background-color: lightcoral;
   margin-top: 8px;
   margin-left: 30px;
}
.sub-menu2 > ul > li {
    display: block;
    margin-left: -30px;
    margin-top: 5px;
    border-bottom: 1px solid white;
    
}
.second:hover > .sub-menu2{
    display: initial;
    position: absolute;
}
