body{
    margin: 0px;
    background-color: whitesmoke;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     margin-top: 10px; 
     
}
.Italic{
     font-size: 140%; 
    font-weight: bold;
    font-style: italic;
     margin-top: -1px; 
     transition: 3s;
}
.Italic:hover{
    color: lightcoral;
    transform: scale(1.3);
    font-style: oblique;
}
.space-around{
    font-weight: bold;
    padding-right: 30px;
    color: gray;
    transition: 1s;
}
.space-around:hover{
    background-color: white;
    transform: scale(1.2);
    color: lightcoral;
}
section{
    height: 100%; 
    width: 91%;
    margin-left: 9%;
    /* background-color: aqua; */
}
.section-first-container{
    display: flex;
    margin-top: -30px;
    flex-direction: row;
 
}
.large-text{
    font-size: 300%;
    font-weight: bold;
    transition: 2s;
}
.large-text:hover{
 color: lightgreen;
 font-style: italic;
}
.top-padding{
    margin-top: 80px;
}
.red-text{
    color: red;
    text-decoration: underline;
}
.font-size{
    font-size: 220%;
    font-weight: bold;
}
.normal-text-size{
    font-size: 40%;
    color: grey;
    margin-top: -10px;
}
.inline{
    display: inline-block;
   
}

.small-text{
     font-size: 90%; 
     color: grey;
}
.medium-text{
    font-size: 250%;
    font-weight: bold;
    transition: 2s;
}
.medium-text:hover{
    color: lightsalmon;
    transform: (1.5);
    font-weight: normal;
    font-style: italic;
}
.backgroun-img{
    background-image: url('https://www.pngitem.com/pimgs/m/455-4557075_custom-software-development-hd-png-download.png');
    background-size: cover;
    width: 40%;
    margin-top: 2%; 
    /* margin-left: -40px; */
    z-index: 99;
    background-color: grey;
    transition: 3s;
  
}
.backgroun-img:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
.sub-section-first-container{
    /* z-index: 100; */
    width: 22%;

   
}
.sub-section-second-container{
  margin-top: 3.5%;
  margin-left: 5%;
  height: 100px;
}
.image{
  margin-top: 68.5%;
  margin-left: 19%;
  height:70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 8px 8px 2px grey;
  transition: 2s;

}
.image:hover{
    /* height:80px;
  width: 80px;
  border-radius: 50%; */
  box-shadow: 8px 8px 3px lightcoral;
  transform: scale(1.3);

}
.CAPITAL{
    font-size: 105%;
    transition: 2s;
   
 
}
.CAPITAL:hover{
    font-size: 100%;
   
    font-style: italic;
    color: lightcoral;
}
.section-second-container{
    /* height: 500px; */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.card{
 margin-top: 20px;
  margin-left: 15%; 
 border: 1px solid whitesmoke;
 /* width: 200px; */
 width: 300px;
 display: flex;
 flex-direction: row;
 box-shadow: 3px 3px 4px lightgray;
 transition: 2s;
}
.card img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-top: 5px;
     vertical-align: middle; 
    display: inline-block;
    
}
 .card-text-bold{
    font-weight: bold;
   margin-right: 0px;
   margin-left: 5px;
   /* padding-left: 50px; */
     /* margin-top: -70px; */
}  
.section-sub-down-first-container{
width: 32%;
}
.padding{
  margin-top: -0.05px;
}
.grey{
    color: grey;
    font-size: 90%;
    
}
.size{
    font-size: 120%;
    font-weight: bold;
    margin-right: 100px;
    color: red;
}
.special{
    margin-top: -17px;
}
p::selection{
    color: aqua;
}
.card:hover{
    transform: scale(1.2);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,71,217,1) 0%, rgba(7,141,124,1) 100%, rgba(0,212,255,1) 100%);
}
